<%- include('./partials/header') -%>

<div style="height: auto;">
    <div class="main-box">
        <div class="basic-card p-3">
            <div class="profile_pic_resume ">
                <div class="text-center">
                    <img src="<%= props.photo %>">
                </div>
                
                <div class="resume_box text-center mt-3" >
                    <span class="bg-secondary p-1 px-4 rounded text-white" >
                        Resume
                    </span>            
                </div> 
            </div>
            <div class="basic_details">
                <hr>
                <h3><%= props.name %></h3><hr>
                <h5><%= props.designation %></h5><hr>
                <div> <i class="fa fa-phone"></i> <%= props.phone %> </div><hr>
                <div> <i class="fa fa-envelope"></i> <%= props.email %> </div><hr>
                <div> <%= props.department %></div><hr>
                <div><strong>Area of Interest : </strong><%= props.area_of_interest %></div><hr>
            </div>
        </div>
        <div class="basic-card added-facutly-details">
            <hr>
            <div class="info-item">
                <h6>Highest Qualification</h6>
                <p><%= props.highest_qualification %></p>
            </div><hr>
            <div class="info-item">
                <h6>Teaching Experience</h6>
                <p><%= props.teachingExperience %></p>
            </div><hr>
            <div class="info-item">
                <h6>Publications/Books/Patents</h6>
                <p><%= props.publications_books_patents%></p>
            </div><hr>
            <div class="info-item">
                <h6>Seminar/Workshops/Confrences organised</h6>
                <p><%= props.seminar_conference_workshop_organized %></p>
            </div><hr>
            <div class="info-item">
                <h6>Seminar/Workshops/Confrences attended</h6>
                <p><%= props.seminar_conference_workshop_attended %></p>
            </div><hr>
            <div class="info-item">
                <h6>Felloships Awards</h6>
                <p><%= props.fellowship_awards %></p>
            </div><hr>
            <div class="info-item">
                <h6>Memberships/Associations of Academic/Professional boards</h6>
                <p><%= props.membership%></p>
            </div><hr>
            <div class="info-item">
                <h6>Marsters Superwised</h6>
                <p><%= props.masters_supervised %></p>
            </div><hr>
            <div class="info-item">
                <h6>P.H.D. Superwised</h6>
                <p><%= props.phd_supervised %></p>
            </div><hr>
            <div class="info-item">
                <h6>Any other Information</h6>
                <p><%= props.other_info%></p>
            </div><hr>
        </div>
        
        <div class="basic-card added-facutly-details">
            <div class="basic-header" >
                <h5>Experiences</h5>
            </div>
            <div class="col-10" style="text-align: left; width: 90%; overflow: hidden;">
                <table class="table" style="background-color: rgb(204, 204, 204); border-radius: 5px;">
                    <thead>
                      <tr>
                        <th>From</th>
                        <th>To</th>
                        <th>Position</th>
                        <th>Organisation</th>
                      </tr>
                    </thead>
                    <tbody>
                        <%if (experience.length >0){ %>
                        <% experience.forEach(function(row){ %>
                        <tr>
                          <td><%= row.from %></td>
                          <td><%= row.to %></td>
                          <td><%= row.postion %></td>
                          <td><%= row.organisation %></td>
                        </tr>
                        <% })}else{ %>
                            <tr>
                              <td colspan="6">No Record Found</td>
                            </tr>
                          <% } %>
                      </tbody>
                  </table>
              </div>
        </div>
        <div class="basic-card added-facutly-details">
            <div class="basic-header" >
                <h5>Experiences</h5>
            </div>
            <%if (publications.length >0){ %>
                <% publications.forEach(function(publication){ %>
                    <div class="basic-card basic-sub-card">
                        <div><strong>Title : </strong><%= publication.title %></div>
                        <div><strong>Department : </strong><%= publication.dept %></div>
                        <div><strong>Category : </strong><%= publication.category %></div>
                        <div><strong>Year : </strong><%= publication.year %></div>
                        <div><strong>Month : </strong><%= publication.month %></div>
                        <div><strong>Indexing : </strong><%= publication.indexing %></div>
                        <div><strong>ISSN : </strong><%= publication.issn %></div>
                        <div><strong>Impact factor : </strong><%= publication.impact %></div>
                    </div>
                <% })}else{ %>
                    <div class="basic-card basic-sub-card">No records found.</div>
                  <% } %>
        </div>
    </div>
</div>

<%- include('./partials/footer') -%>