<%- include('./partials/admin_header') -%>
<div class="faculty-main-box">
    <div class="dashboard-nav"> 
        <div class="dashboard-nav-icon">
            <i class="fa-solid fa-circle-chevron-down"></i>
        </div>
        <div class="faculty-nav-head">
            <h2>Faculty Dashboard</h2>
        </div>
    </div>
    <div class="faculty_menu col-2">
        <div class="faculty_menu_items">
            <a href="faculty_dashboard"> Profile</a><br>
            <a href="update_faculty_experience"> Experiences</a><br>
            <a href="#"> Awards</a><br>
            <a href="#"> Qualifications</a><br>
            <a href="#"> Publications</a><br>
            <a href="/logout"> Logout</a><br>
        </div>
    </div>

    <div class="update_details">
        <div class="basic-header">
            <h5>View and Update Details</h5>
        </div>
        <div class="update-faculty-photo">
            <img src="<%= props.photo%>">
        </div>
        <form action="/upload">
            <div class="form-group">
                <label for="photo">Photo</label>
                <input type="text" class="form-control" id="photo" value="<%= props.photo%>">
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" value="<%= props.name%>" readonly>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" value="<%= props.email%>" readonly>
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" value="<%= props.phone%>">
            </div>
            <div class="form-group">
                <label for="department">Department</label>
                <input type="text" class="form-control" id="department" value="<%= props.department%>" readonly>
            </div>
            <div class="form-group">
                <label for="designation">Designation</label>
                <input type="text" class="form-control" id="designation" value="<%= props.designation%>" readonly>
            </div>
            <div class="form-group">
                <label for="resume">Resume</label>
                <input type="text" class="form-control" id="resume" value="<%= props.resume%>">
            </div>
            <div class="form-group">
                <label for="highest_qualification">Highest Qualification</label>
                <input type="text" class="form-control" id="highest_qualification" value="<%= props.highest_qualification%>">
            </div>
            <div class="form-group">
                <label for="area_of_interest">Area of Interest</label>
                <input type="text" class="form-control" id="area_of_interest" value="<%= props.area_of_interest%>">
            </div>  
            <div class="form-group">
                <label for="teachingExperience">Teaching Experience</label>
                <input type="text" class="form-control" id="teachingExperience" value="<%= props.teachingExperience%>">
            </div>
            <div class="form-group">
                <label for="publications_books_patents">Publications/Books/Patents</label>
                <input type="text" class="form-control" id="publications_books_patents" value="<%= props.publications_books_patents%>">
            </div>
            <div class="form-group">
                <label for="seminar_conference_workshop_organized">Seminar/Conference/Workshop Organized</label>
                <input type="text" class="form-control" id="seminar_conference_workshop_organized" value="<%= props.seminar_conference_workshop_organized%>">
            </div>
            <div class="form-group">
                <label for="seminar_conference_workshop_attended">Seminar/Conference/Workshop Attended</label>
                <input type="text" class="form-control" id="seminar_conference_workshop_attended" value="<%= props.seminar_conference_workshop_attended%>">
            </div>
            <div class="form-group">
                <label for="fellowship_awards">Fellowship/Awards</label>
                <input type="text" class="form-control" id="fellowship_awards" value="<%= props.fellowship_awards%>">
            </div>
            <div class="form-group">
                <label for="membership">Membership of Profession/Educational boards</label>
                <input type="text" class="form-control" id="membership" value="<%= props.membership%>">
            </div>
            <div class="form-group">
                <label for="masters_supervised">Masters Supervised</label>
                <input type="text" class="form-control" id="masters_supervised" value="<%= props.masters_supervised%>">
            </div>
            <div class="form-group">
                <label for="phd_supervised">PhD Supervised</label>
                <input type="text" class="form-control" id="phd_supervised" value="<%= props.phd_supervised%>">
            </div>
            <div class="form-group">
                <label for="other_info">Any Other Information</label>
                <textarea class="form-control" id="other_info" rows="3"><%= props.other_info%></textarea>
            </div>
            <button type="submit" class="btn btn-primary">UPDATE DETAILS</button>
        </form>
    </div>
</div>   
<%- include('./partials/footer') -%>