<%- include('./partials/admin_header') -%>
<body>
<h2 style="text-align: center; margin-top: 20px;">Alumni List</h2>
<div class="row" style="margin-left: 100px; margin-right: 100px;margin-top: 20px;">
    <%- include('./partials/admin_menu') -%>
    <div class="col-10" style="text-align: center;">
      <table class="table table-striped table-primary">
          <thead>
            <tr>
              <th>Photo</th>
              <th>Name</th>
              <th>Designation</th>
              <th>Working Place</th>
              <th>Mobile Number</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <%if (send.length >0){ %>
            <% send.forEach(function(row){ %>
            <tr>
              <td><img src="docs/<%= row.Photo %>" style="width: 100px; height: 120px;"></img></td>
              <td><%= row.Name %></td>
              <td><%= row.Designation %></td>
              <td><%= row.WorkingAddress %></td>
              <td><%= row.Email %></td>
              <td><%= row.Mobile %></td>
            </tr>
            <% })}else{ %>
              <tr>
                  <td colspan="6">No Record Found</td>
                  
                </tr>
              <% } %>
          </tbody>
        </table>
    </div>
</div>
</body>
</html>